yarn-error.log
npm-debug.log
package-lock.json
yarn.lock

.gitignore
*.tgz

/postcss/*.test.js
/__tests__/*
*.test.js
.github
.editorconfig
coverage/
t.py
.next/
.git.
eslint.config.js
.DS_Store

playwright.*
playwright.config.ts
playwright.next.config.js
playwright.next.config.ts
playwright.vite.config.js
playwright.vite.config.ts

test-results/
todo.md

!.npmignore          
!package.json
!/src/**    

